<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditate</title>
    <script src="https://kit.fontawesome.com/61b8d75262.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"> 
</head>
<body>
    <h1 class="header">MeditateNow</h1>
<div class="main">
    <section>
        <h3>Stop waiting and start doing what is best for you.</h3>
        <form method="get" action="/meditate">
            <button type="submit" class="btn btn-info">Get Started Now</button>
        </form>
    </section>
    <footer class="bg-dark"><span>@MeditateNow</span></footer>
    <!-- add links to git/social -->
    <style>
        footer{
            color:wheat;
            position: absolute;
           
            bottom: 0;
            width: 100%;
            height: 10%;
            text-align: end;
        }
        span{
            position: relative;
            top: 25px;
        }

        h1 {
            text-align: center;
            color: wheat;
            margin: 5% auto;
            width: 500px;
            background: rgb(65,57,193);
        background: radial-gradient(circle, rgba(65,57,193,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
        }
        body{
            background-image: url(https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fG1lZGl0YXRpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            background-repeat: no-repeat;
            background-size: 100%;
            overflow: hidden;
        }
        section {
            text-align: center;
          margin: 25% auto ;
         width: 500px;
      
          
          /* background-color: rgb(88, 105, 88, 0.2); */
         
          
        }
    </style>
</div>
</body>
</html>